@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema EnsinE</h1>
    <p class="lead">Escolha uma das opções abaixo para gerenciar os dados.</p>

    <div class="mt-4">
        <a asp-controller="Clientes" asp-action="Index" class="btn btn-primary btn-lg mx-2">
            Gerenciar Clientes
        </a>
        <a asp-controller="Produtos" asp-action="Index" class="btn btn-success btn-lg mx-2">
            Gerenciar Produtos
        </a>
    </div>
</div>
