@model SistemaEnsinE.Models.Produto

@{
    ViewData["Title"] = "Excluir Produto";
}

<h1 class="mb-3 text-danger">Excluir Produto</h1>

<h4>Tem certeza de que deseja excluir este produto?</h4>
<hr />

<dl class="row">
    <dt class="col-sm-3">Nome</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>

    <dt class="col-sm-3">Preço</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Preco)</dd>

    <dt class="col-sm-3">Situação</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Situacao)</dd>

    <dt class="col-sm-3">Comissão</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Comissao)</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="ProdutoId" />
    <div class="d-flex gap-2 mt-3">
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
